{% extends "base.html" %}
{% block main %}
{% if tasks %}

<div class="list-group">
{% for task in tasks %}
    {% if task.status %}
    <a href="#" class="list-group-item list-group-item-action">
    {% else %}
    <a href="#" class="list-group-item list-group-item-action disable"></a>
    {% endif %}
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ task.title }}</h5>
        </div>
        <p class="mb-1">{{ task.description }}</p>
    </a>
{% endfor %}
</div>
{% else %}
<div class="alert alert-danger" role="alert">
  No tasks to show.
</div>
{% endif %}
{% endblock %}