{% extends "base.html" %}
{% block main %}

<form>
<div class="form-group">
    <label for="login">Login</label>
    <input type="text" name="login" class="form-control" id="login" aria-describedby="loginHelp" placeholder="Enter login">
</div>
<div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" id="password" placeholder="Password">
</div>
<button type="submit" class="btn btn-primary">Sign-in</button>
</form>

{% endblock %}